<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "kz" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/scripts/youtube-embed.js"></script>
    <script src="/scripts/movements.js"></script>



<div id="telegram-popup">
    <div id="telegram-header">
        Жекеге хабарласу
    </div>
    <div id="telegram-body" style="display: none;">
        <div id="chat-list">
            <ul id="chat-threads"></ul>
        </div>
        <div id="chat-area">
            <div id="chat-messages"></div>
            <input type="text" id="telegram-message" placeholder="Осында жазыңыз..." />
            <button id="telegram-send">Жіберу</button>
        </div>
    </div>
</div>

    
  </body>
</html>
